extends ./login.jade
block tag 
    span(class="red") *
block input 
    .inp-field
        label(for='pass2' id="pass2-label") Repeat password 
            span(class="red") *
        input(type='password' name='password2' id='pass2')
        label(for="reg-form" id="reg-label") 
            span(class='red') * 
            span - required
        label(class="red bad-pass-label" id="badpasslabel") Passwords does not match
