/*reset*/
html, body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', sans-serif;
    background: #FFFEFC;
}
/*reset end*/
.red {
    color: red;
}
.home-msg {
    text-align: center;
    margin-top: 200px;
    font-size: 3em;
}
.navbar li {
    display: inline-block;
    float: left;
    margin-right: 1px;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.6em;
}

.navbar {
    min-width: 100%;
    top: 0;
    position: fixed;
    background-color: #19c589;
    z-index: 9999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3036;
}

.navbar li a {
    display: block;
    min-width: 140px;
    height: 70px;
    text-align: center;
    line-height: 70px;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #fff;
    text-decoration: none;
}
.navbar li a:hover {
    background: #19c589;
    transition: all 0.5s;
}
.form {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%);
    min-width: 200px;
    max-width: 250px;
    padding: 11px;
}
.form .inp-field {
    margin-top: 7px;
}
.form label {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8em;
    display: block;
}

input {
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgb(138,147,146);
    border-radius: 3px;
}
.form input {
    font-size: 1.7em;
    width: 100%;
    margin-top: 5px;

}
.btn {
    color: white;
    padding: 5px 11px 5px 11px; 
    border: 0px solid;
    border-radius: 5px;
    background: #2f3036;
    font-family: 'Work Sans', sans-serif;
}
.form .btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.3em;
}
.btn:hover {
    background: #19c589;
    cursor: pointer;
}
#badpasslabel {
    display: none;
}

.float-right {
    float: right;
}
.tile-field {
    margin-top: 70px;
}

.tile-list:hover {
    background: #19c589;
    cursor: pointer;
    box-shadow: 0 0 45px rgba(0,0,0,0.5);
}

.tile-list:hover .btn {
    display: block;
}
.tile-list .btn:hover {
    background-color: #f4511e;
    width: 23px;
    height: 23px;
}

.tile-list {
    color: white;
    background: #2f3036;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 210px;
    width: 210px;
    height: 210px;
    border-radius: 5px;
    transition: all 0.9s;
}
.tile-list h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.tile-list li {
    font-size: 1.2em;
    max-width: 70%;
    margin: 10px;
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px dashed white;
}

.tile-list .items {
    border: 1px solid  white;
    border-radius: 5px;
    width: 92%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.tile-list .hover-list {
    position: absolute;
    display: table-cell;
    border-bottom: 2px solid white;
    margin-top: 50px;
    visibility: hidden;
    font-size: 3.0em;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.tile-list:hover .hover-list {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear, margin-top .3s linear, border .3s linear;
}
.tile-list .hover-list:hover {
    border-bottom: 2px solid #2f3036;
    margin-top: 45px;
}
.tile-list:hover ul {
    visibility: hidden;
}

.tile-list .show {
    left: 65px;
}

.tile-list .empty {
    left: 77px;
}

.tile-list .btn {
    padding: 0;
    padding-bottom: 1px;
    position: absolute;
    text-align: center;
    height: 21px;
    width: 21px;
    top: 10px;
    right: 8px;
    font-size: 0.6em;
    border-radius: 50%;
    display: none;
    transition: all 0.5s;
}

.background {
    vertical-align: top;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background: #2f3036;
    border-radius: 10px; 
    border: 1px solid white;
    color: white;
}

.list-background {
    min-width: 350px; 
    width: 20%;
    margin: 0 auto;
    margin-top: 90px;
}

.list {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
}
.list-background .btn {
    border: 1px solid white;
}
.list-field {
    text-align: left;
    width: 80%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

.list-field h1 {
    font-size: 2em;
    text-align: center;
}

.list-field .items {
    font-size: 1.4em;
    margin: 0 auto;
    display: table;
}

.list-field .items .item {
    min-height: 2px;
    padding: 5px 0;
    border-bottom: 1px dashed white;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s linear;
}

.list-field .item:hover {
    cursor: pointer;
    background: #f4511e;
    border-bottom: 1px solid #2f3036;
}

.list-field .item label:hover {
    cursor: pointer;
}

.list-field .item input:hover {
    cursor: pointer;
}

.list-field input {
    font-size: 1.2em;    
}

.list-field .items button {
    margin-top: 10px;
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 20px;
    border: 0px solid black;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
    transition: all 0.5s linear;
}

.list-field .items button:hover {
    border-left: 1px solid #2f3036;
    border-right: 1px solid #2f3036;
}

.add-item-background {
    min-width: 330px; 
    margin-top: 90px;
    margin-right: 20px;
    width: 15%;
}

.add-item {
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto 30px auto;
    padding: 15px;
}
.list .add-item h1 {
    font-size: 100pxm;
}

.add-item button {
    font-size: 1.5em;
    display: block;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s linear;
}

.add-item input[type='number'] {
    font-size: 1.4em;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
}

.add-item input[type='text'] {
    font-size: 1.4em;
    width: 60%;
    min-width: 50px;
}

.red-box {
    margin: 250px auto 0 auto;
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
    transition: all 1s;
}
.red-box:hover {
    background: green;  
    transform: rotate(1080deg);
    border-radius: 50%;
}
/*.verticalLine1 {
    position: absolute;
    border-top: 2px solid white;
    width: 0;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    visibility: hidden;
}

.verticalLine2 {
    position: absolute;
    width: 0;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
    visibility: hidden;
    bottom: 0px;
}*/

/*.add-item .anim {
    font-size: 0em;
    opacity: 0;
    transform: rotate(1080deg);
    right: 700px;
    border-radius: 50%;
    transition: all 3s linear;
}*/

